*{
    box-sizing: border-box;
}

#product{
    width: 100%;
    height: auto;
}

.product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-img img{
    width: 80%;
    height: 70%;
}

.submit{
    width: 35%;
    border: 2px solid #bbbbbb;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
}

.submit svg{
    width: 80px;
    height: 60px;
}